.container {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .container {
        min-height: 350px;
    }
}